.select-download-item .btn {
    float: left;
    display: block;
    width: 113px;
    height: 45px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.08);

}
.select-download-item .btn-ico{
    display: inline-block;
    background: salmon;
    margin: 8px 10px 0px;
    width: 25px;
    height: 25px;
    background: url("../img//iphone.png") no-repeat;
    background-position: 0 0;
    background-size: 100%;
}
.ant-popover-inner-content{
    height: 240px;
    width: 280px;
}
.ant-popover-placement-bottom .ant-popover-arrow{
    left: 60%;
}
